.posts-wrap{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    article{
        width:50%;
    }

    .post-title{
        padding: 20px 0;
     }
     .post-image{
        height: 300px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    .post-content{
        color: rgb(89, 89, 89);
        line-height: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .posts-wrap{
        article{
            width:80%;
            margin: 0 auto;
        }
    }
}