.post{
    display:flex;
    flex-direction: column;
    padding:40px 0;
    &__image{
        width:100%;
        height:250px;
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            position: absolute;
        }
    }
    &__meta{
        padding:20px 0 5px 0;
        display:flex;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        &__info{
            font-size: .9rem;
        }
        &__social{
            align-self: flex-end;
        }
    }
    &__actions{
        padding:10px 0;
        align-self: flex-end;
    }
}
.react-sharing-button__text{
    color:white;
    font-size:.8rem;

}
.react-sharing-button__link{
    position: relative;
    top: -10px;
    margin:0 10px;
    &:hover{
        text-decoration:none
    }
}

